[/Script/Pal.PalGameWorldSettings]

{{- $settings := list
    (expr "Difficulty" (.DIFFICULTY | default "None"))
    (expr "DayTimeSpeedRate" (.DAY_TIME_SPEED_RATE | default "1.000000"))
    (expr "NightTimeSpeedRate" (.NIGHT_TIME_SPEED_RATE | default "1.000000"))
    (expr "ExpRate" (.EXP_RATE | default "1.000000"))
    (expr "PalCaptureRate" (.PAL_CAPTURE_RATE | default "1.000000"))
    (expr "PalSpawnNumRate" (.PAL_SPAWN_NUM_RATE | default "1.000000"))
    (expr "PalDamageRateAttack" (.PAL_DAMAGE_RATE_ATTACK | default "1.000000"))
    (expr "PalDamageRateDefense" (.PAL_DAMAGE_RATE_DEFENSE | default "1.000000"))
    (expr "PlayerDamageRateAttack" (.PLAYER_DAMAGE_RATE_ATTACK | default "1.000000"))
    (expr "PlayerDamageRateDefense" (.PLAYER_DAMAGE_RATE_DEFENSE | default "1.000000"))
    (expr "PlayerStomachDecreaceRate" (.PLAYER_STOMACH_DECREACE_RATE | default "1.000000"))
    (expr "PlayerStaminaDecreaceRate" (.PLAYER_STAMINA_DECREACE_RATE | default "1.000000"))
    (expr "PlayerAutoHPRegeneRate" (.PLAYER_AUTO_HP_REGENE_RATE | default "1.000000"))
    (expr "PlayerAutoHpRegeneRateInSleep" (.PLAYER_AUTO_HP_REGENE_RATE_IN_SLEEP | default "1.000000"))
    (expr "PalStomachDecreaceRate" (.PAL_STOMACH_DECREACE_RATE | default "1.000000"))
    (expr "PalStaminaDecreaceRate" (.PAL_STAMINA_DECREACE_RATE | default "1.000000"))
    (expr "PalAutoHPRegeneRate" (.PAL_AUTO_HP_REGENE_RATE | default "1.000000"))
    (expr "PalAutoHpRegeneRateInSleep" (.PAL_AUTO_HP_REGENE_RATE_IN_SLEEP | default "1.000000"))
    (expr "BuildObjectDamageRate" (.BUILD_OBJECT_DAMAGE_RATE | default "1.000000"))
    (expr "BuildObjectDeteriorationDamageRate" (.BUILD_OBJECT_DETERIORATION_DAMAGE_RATE | default "1.000000"))
    (expr "CollectionDropRate" (.COLLECTION_DROP_RATE | default "1.000000"))
    (expr "CollectionObjectHpRate" (.COLLECTION_OBJECT_HP_RATE | default "1.000000"))
    (expr "CollectionObjectRespawnSpeedRate" (.COLLECTION_OBJECT_RESPAWN_SPEED_RATE | default "1.000000"))
    (expr "EnemyDropItemRate" (.ENEMY_DROP_ITEM_RATE | default "1.000000"))
    (expr "DeathPenalty" (.DEATH_PENALTY | default "All" | quote))
    (expr "bEnablePlayerToPlayerDamage" (.ENABLE_PLAYER_TO_PLAYER_DAMAGE | default "False"))
    (expr "bEnableFriendlyFire" (.ENABLE_FRIENDLY_FIRE | default "False"))
    (expr "bEnableInvaderEnemy" (.ENABLE_INVADER_ENEMY | default "True"))
    (expr "bActiveUNKO" (.ACTIVE_UNKO | default "False"))
    (expr "bEnableAimAssistPad" (.ENABLE_AIM_ASSIST_PAD | default "True"))
    (expr "bEnableAimAssistKeyboard" (.ENABLE_AIM_ASSIST_KEYBOARD | default "False"))
    (expr "DropItemMaxNum" (.DROP_ITEM_MAX_NUM | default "3000"))
    (expr "DropItemMaxNum_UNKO" (.DROP_ITEM_MAX_NUM_UNKO | default "100"))
    (expr "BaseCampMaxNum" (.BASE_CAMP_MAX_NUM | default "128"))
    (expr "BaseCampWorkerMaxNum" (.BASE_CAMP_WORKER_MAX_NUM | default "15"))
    (expr "DropItemAliveMaxHours" (.DROP_ITEM_ALIVE_MAX_HOURS | default "1.000000"))
    (expr "bAutoResetGuildNoOnlinePlayers" (.AUTO_RESET_GUILD_NO_ONLINE_PLAYERS | default "False"))
    (expr "AutoResetGuildTimeNoOnlinePlayers" (.AUTO_RESET_GUILD_TIME_NO_ONLINE_PLAYERS | default "72.000000"))
    (expr "GuildPlayerMaxNum" (.GUILD_PLAYER_MAX_NUM | default "20"))
    (expr "BaseCampMaxNumInGuild" (.BASE_CAMP_MAX_NUM_IN_GUILD | default "4"))
    (expr "PalEggDefaultHatchingTime" (.PAL_EGG_DEFAULT_HATCHING_TIME | default "72.000000"))
    (expr "WorkSpeedRate" (.WORKSPEED_RATE | default "1.000000"))
    (expr "AutoSaveSpan" (.AUTO_SAVE_SPAN | default "30.000000"))
    (expr "bIsMultiplay" (.IS_MULTIPLAY | default "False"))
    (expr "bIsPvP" (.IS_PVP | default "False"))
    (expr "bCanPickupOtherGuildDeathPenaltyDrop" (.CAN_PICKUP_OTHER_GUILD_DEATH_PENALTY_DROP | default "False"))
    (expr "bEnableNonLoginPenalty" (.ENABLE_NON_LOGIN_PENALTY | default "True"))
    (expr "bEnableFastTravel" (.ENABLE_FAST_TRAVEL | default "True"))
    (expr "bIsStartLocationSelectByMap" (.IS_START_LOCATION_SELECT_BY_MAP | default "True"))
    (expr "bExistPlayerAfterLogout" (.EXIST_PLAYER_AFTER_LOGOUT | default "False"))
    (expr "bEnableDefenseOtherGuildPlayer" (.ENABLE_DEFENSE_OTHER_GUILD_PLAYER | default "False"))
    (expr "bInvisibleOtherGuildBaseCampAreaFX" (.INVISIBLE_OTHER_GUILD_BASE_CAMP_AREA_FX | default "False"))
    (expr "CoopPlayerMaxNum" (.COOP_PLAYER_MAX_NUM | default "4"))
    (expr "ServerPlayerMaxNum" (.SERVER_PLAYER_MAX_NUM | default "32"))
    (expr "ServerName" (.SERVER_NAME | default "Default Palworld Server" | quote))
    (expr "ServerDescription" (.SERVER_DESCRIPTION | default "" | quote))
    (expr "AdminPassword" (.ADMIN_PASSWORD | default "" | quote))
    (expr "ServerPassword" (.SERVER_PASSWORD | default "" | quote))
    (expr "PublicPort" (.PUBLIC_PORT | default "8211"))
    (expr "PublicIP" (.PUBLIC_IP | default "" | quote))
    (expr "RCONEnabled" (.RCON_ENABLED | default "False"))
    (expr "RCONPort" (.RCON_PORT | default "25575"))
    (expr "Region" (.REGION | default "" | quote))
    (expr "bUseAuth" (.USE_AUTH | default "True"))
    (expr "BanListURL" (.BAN_LIST_URL | default "https://api.palworldgame.com/api/banlist.txt" | quote))
    (expr "RESTAPIEnabled" (.RESTAPI_ENABLED | default "False"))
    (expr "RESTAPIPort" (.RESTAPI_PORT | default "8212"))
    (expr "bShowPlayerList" (.SHOW_PLAYER_LIST | default "False"))
    (expr "AllowConnectPlatform" (.ALLOW_CONNECT_PLATFORM | default "Steam" | quote))
    (expr "bIsUseBackupSaveData" (.IS_USE_BACKUP_SAVE_DATA | default "True"))
    (expr "LogFormatType" (.LOG_FORMAT_TYPE | default "Text" | quote))
}}
OptionSettings=({{ $settings | join "," }})
